<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Document</title>

    <style>
        :root {
            font-family: 'Montserrat', sans-serif;

        }
        body{
            background-color: #e6e6e6;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Pessoa física</h1><br>
        <div id="tabela-fisica">
            <table class="table table-dark table-sm table-hover table-bordered border-white">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Operadora</th>
                        <th scope="col">Custo</th>
                        <th scope="col">Internet</th>
                        <th scope="col">Fixo</th>
                        <th scope="col">Móvel</th>
                        <th scope="col">Dia de cadastro</th>
                        <th scope="col">Fatura</th>

                    </tr>
                </thead>

                {% for lead in lead_f  %}
                    <tbody>
                        <tr>
                            <td>{{ lead.id }}</td>
                            <td>{{ lead.nome }}</td>
                            <td>{{ lead.telefone }}</td>
                            <td>{{ lead.cidade }}</td>
                            <td>{{ lead.operadora }}</td>
                            <td>{{ lead.custo }}</td>
                            <td>{{ lead.internet }}</td>
                            <td>{{ lead.fixo }}</td>
                            <td>{{ lead.movel }}</td>
                            <td>{{ lead.data_cadastro }}</td>
                            <td> <a href="/download_f/{{lead.id}}"> <img src='./static/img/download.png' style="height: 30px; width: 30px;"> </a> </td>
                    </tbody>
                {% endfor %}
            </table>

        </div>

        <a href="/export_f"><button class="btn-primary btn">Baixar tabela</button></a>




        <h1 class="text-center">Pessoa jurídica</h1><br>
        <div id="tabela-juridica">
            <table class="table table-dark table-sm table-hover table-bordered border-white">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Setor</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Operadora</th>
                        <th scope="col">Custo</th>
                        <th scope="col">Internet</th>
                        <th scope="col">Fixo</th>
                        <th scope="col">Móvel</th>
                        <th scope="col">Linhas móveis</th>
                        <th scope="col">Dia de cadastro</th>
                        <th scope="col">Fatura</th>
                    </tr>
                </thead>

                {% for lead in lead_j  %}
                <tbody>
                    <tr>
                        <td>{{ lead.id }}</td>
                        <td>{{ lead.nome }}</td>
                        <td>{{ lead.nome_empresa }}</td>
                        <td>{{ lead.setor }}</td>
                        <td>{{ lead.email }}</td>
                        <td>{{ lead.telefone }}</td>
                        <td>{{ lead.cidade }}</td>
                        <td>{{ lead.operadora }}</td>
                        <td>{{ lead.custo }}</td>
                        <td>{{ lead.internet }}</td>
                        <td>{{ lead.fixo }}</td>
                        <td>{{ lead.movel }}</td>
                        <td>{{ lead.linhas_moveis }}</td>
                        <td>{{ lead.data_cadastro }}</td>
                        {% if lead.fatura != None %}
                            <td> <a href="/download_j/{{lead.id}}"> <img src='./static/img/download.png' style="height: 30px; width: 30px;"> </a> </td>
                        {% else %}
                            <td>Não enviou fatura</td>
                        {% endif %}
                </tbody>
                {% endfor %}
            </table>


        </div>

        <a href="/export_j"><button class="btn-primary btn">Baixar tabela</button></a>
    </div>
</body>

</html>